* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
/* navbar */
header {
  display: inline;
}
nav {
  display: flex;
  background-color: #05458f;
  justify-content: space-between;
  padding: 0px 20px;
  height: 80px;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  color: aliceblue;
  top: 0;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.logo img {
  margin-right: 10px;
  max-width: 50px;
}
.logo {
  justify-content: center;
  max-height: 80%;
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1.6rem;
  align-items: center;
}
.highlight {
  color: #df755a;
}
nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
}
nav ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}
nav ul li a:hover {
  color: #3f72af;
  cursor: pointer;
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: aliceblue;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
/* animasi hamburger */
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  -webkit-transform: rotate(45deg) translate(-1px, -1px);
  -moz-transform: rotate(45deg) translate(-1px, -1px);
  -ms-transform: rotate(45deg) translate(-1px, -1px);
  -o-transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  -webkit-transform: rotate(-45deg) translate(-1px, 0);
  -moz-transform: rotate(-45deg) translate(-1px, 0);
  -ms-transform: rotate(-45deg) translate(-1px, 0);
  -o-transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  opacity: 0;
}
/* bagian content */
.content {
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #3f72af;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.image {
  max-width: 100vh;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.title {
  max-width: 100%;
  padding: 20px;
  background-color: #3f72af;
}
h2 {
  color: #ffffff;
}
.title-page {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  max-width: 100%;
  text-shadow: 3px 3px 2px #df755a;
}
.deskripsi {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
/* button */
a.tbl-klik {
  padding: 10px 15px 10px 15px;
  background: #dbe2ef;
  border-radius: 15px;
  color: #3f72af;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
a.tbl-klik:hover {
  background: #df755a;
  color: #ffffff;
  text-decoration: none;
}
a.tbl-klik2 {
  background: #df755a;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  font-weight: bold;
  line-height: 50px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
a.tbl-klik2:hover {
  background: #dbe2ef;
  color: #3f72af;
  text-decoration: none;
  font-weight: bold;
}
p {
  line-height: 25px;
  text-align: justify;
  padding: 10px 0px 10px 0px;
  color: #ffffff;
  width: 100%;
}
.slogan {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1, 5rem;
  font-weight: bold;
  color: #ffffff;
}
.title-courses {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #3f72af;
  margin: 20px 20px;
}

.container .title,
.container .container-img {
  flex: 1;
}

.container-card {
  text-align: center;
  margin: 20px;
}
.container-image {
  display: flex;
  text-align: center;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}
.card-image {
  width: 30%;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card-image:hover {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.card-title {
  padding: 10px;
  border-radius: 5px;
  background-color: #3f72af;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.item {
  margin: 20px;
  width: 80%;
}
/* tutor */
.item-tutor {
  margin: 20px;
  width: 80%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.item-tutor:hover {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #05458f;
  max-width: 100%;
}
.name-tutor {
  padding-bottom: 20px;
}
/* Contact & Profile Develover*/
aside {
  margin: 10px;
}
.card-aside {
  margin: 10px;
  height: 100%;
  padding: 40px 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3f72af;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.container-box h2 {
  color: #ffffff;
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.container-box h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.field {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 30%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn:hover {
  background-color: #27ae60;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}
.container-aside {
  display: flex;
  flex-direction: row;
}
.img-dev {
  margin: 20px;
  max-width: 80%;
  border-radius: 50%;
  border: 10px solid rgba(198, 195, 228, 0.233);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
figcaption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  max-width: 100%;
}
.card-sosmed {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 4px;
}
.card-icon {
  background-color: #ffffff;
  margin: 10px;
  padding: 2px;
  border: 2px solid #ffffff;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
.card-icon:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
/* Footer */
footer {
  margin-top: 20px;
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: #3f72af;
}
footer p {
  text-align: center;
}
/* respopnsive */
/* ukuran tablet */
@media screen and (max-width: 768px) {
  .logo img {
    width: 40px;
  }
  .logo {
    font-size: 1.2rem;
  }
  nav ul {
    width: 60%;
  }
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;
  }
  .image {
    max-width: 80%;
  }
  .container {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .card-image {
    width: 30%;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    text-align: center;
  }
  .name {
    font-size: 1.5rem;
  }
  aside {
    margin: 15px;
  }
  .card-aside {
    margin: 5px;
    height: 100%;
  }
  figcaption {
    font-size: 15px;
  }
}

/* Animasi */
/* Initial state before animation */
.zoom-in {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 2s, transform 2s;
}

/* State after intersection */
.zoom-in.animate {
  opacity: 1;
  transform: scale(1);
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Ukuran Handpone */
@media screen and (max-width: 576px) {
  .logo img {
    width: 30px;
  }
  .logo {
    font-size: 1rem;
  }
  nav {
    height: 50px;
    justify-content: space-between;
    padding: 0px 20px;
  }
  nav ul {
    position: fixed;
    right: 0;
    top: 4vh;
    width: 50%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: #05458f;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    opacity: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: -1;
  }
  nav ul li a {
    font-size: 1.2em;
  }
  .menu-toggle {
    display: flex;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .image {
    max-width: 100%;
  }
  .container {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .container .container-img {
    order: -1; /* Move image to the top */
    margin-bottom: 20px;
  }
  .container-image {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .item {
    width: 80%;
  }
  .card-image {
    width: 100%;
  }
  h2 {
    font-size: 2rem;
  }
  .name {
    font-size: 2rem;
  }
  .container-aside {
    flex-direction: column;
  }
  .card-aside {
    margin: 5px;
    height: 100%;
  }
  figcaption {
    font-size: 20px;
  }
}
